<!--Egor Shevchenko - 301084181. October 8, 2020-->

<p id="homeText">Hello, I'm Egor! The primary role of this website is to demostrate my web-development skills for a potential employer.<br>
<ul id="homeList">
  <li>If you want to log in you can use <b>egor</b> as a username and <b>egor1</b> as a password</li>
  <li>If you are interesed in my background and my resume please go to the <a href="/about">About</a> page</li>
  <li>To see my projects visit the <a href="/projects">Projects</a> page</li>
  <li>To see what services I can offer click <a href="/services">Services</a></li>
  <li>If you wish to contact me, you can do it on the <a href="/contact">Contact</a> page</li>
</ul>
</p>