<!--Egor Shevchenko - 301084181. October 8, 2020-->

<ul class="list-group">
  <li class="list-group-item" id="projectsList"><img src="/assets/images/project1.png" class="img-fluid" id="project1" alt="Concept"> This is a concept art for a game I'm currently
  working on with a little team. It is yet to be announced. We use the Unity game engine, and I have a role of a programmer</li>
  <li class="list-group-item"><img src="/assets/images/project2.png" class="img-fluid" id="project2" alt="Concept"> The website you are using right now is also one of my projects.
  It's probably the best website I have ever made</li>
</ul>
