<!--Egor Shevchenko - 301084181. October 8, 2020-->
<ul class="list-group" id="servicesList">
    <li class="list-group-item"><i class="fas fa-gamepad"></i> Game developent usign the Unity game engine</li>
    <li class="list-group-item"><i class="fas fa-desktop"></i> Programming in C#, Java, JavaScript</li>
    <li class="list-group-item"><i class="fas fa-globe"></i> Web-development in HTML, CSS, JavaScript (Node.js, Express)</li>
</ul>