/* Egor Shevchenko - 301084181. October 8, 2020*/
/* custom css goes here*/
.container .jumbotron .img-fluid {
    padding-right: 20px;
    padding-top: 20px;
    }

.container .jumbotron p {
    padding-top: 20px;
    }

#face {
        max-width: 45%;
        float: left;
}

.jumbotron {
    height: 800px;
    }

#servicesList {
    font-size: large;
}

#aboutText {
    font-size: x-large;
}

#contactForm {
    padding-top: 20px;
}

#contactSubmit {
    position: absolute;
    top: 700px;
}