/* Egor Shevchenko - 301084181. October 8, 2020*/
/* custom css goes here*/
.container .jumbotron .img-fluid {
    padding-right: 20px;
    padding-top: 20px;
    }

.container .jumbotron p {
    padding-top: 20px;
    }

#face {
        max-width: 45%;
        float: left;
}

.jumbotron {
    min-height: 800px;
    }

#servicesList {
    font-size: large;
}

#aboutText {
    font-size: x-large;
}

#contactForm {
    padding-top: 50px;
}

#contactSubmit {
    position: absolute;
    top: 700px;
}

#logo {
    width: 10%;
}

#project1 {
    max-width: 100%;
}

#project2 {
    max-width: 100%;
}

#projectsList {
    font-size: large;
}

#homeText {
    font-size: x-large;
}

#contactHeader {
    padding-top: 20px;
}

#contactList {
    padding-top: 40px;
}

#homeList {
    font-size: x-large;
}